{
  "env": {
    "browser": true
  },
  "globals" : {
    "web3" : true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.0"
    }
  },
  "plugins": [
    "babel",
    "react"
  ],
  "extends": ["plugin:react/recommended", "standard", "standard-react"],
  "rules":{
    "react/prop-types": 0
  }
}
